# Dependencies
node_modules/

# Production builds
dist/
build/
out/

# Environment files
.env
.env.local
.env.production
.env.development

# Logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
